.mirror {
	width: 60vw;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.mirror[data-layout="vertical"] {
	flex-direction: row;
	flex-wrap: wrap;
}

.mirror__side {
	flex: none;
	overflow: hidden;
	width: 50%;
	display: flex;
	align-items: flex-end;
}

.mirror[data-layout="vertical"] .mirror__side{
	height: 50%;
	width: 100%;
}

.mirror__img {
	display: block;
	width: 100%;
	transform: translate3d(100%,0,0);
}

.mirror[data-layout="vertical"] .mirror__img {
	transform: translate3d(0,100%,0);
}

.mirror__side--two {
	transform: scale3d(-1,1,1);
}

.mirror[data-layout="vertical"] .mirror__side--two {
	transform: scale3d(1,-1,1);
}